html,body{
    background-color: black;
    color: white;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.box{
    display: flex;
    gap: 2rem;
    .card{
    background-color: rgb(44, 44, 44);
    width: fit-content;
    padding: 2rem;
    border-radius: 1rem;

    button{
        padding: 0.5rem;
        background-color: violet;
        border: none;
        border-radius: 0.5rem;
        font-weight: 600;
        color: white;
    }
}
}